*{margin:0}
body{
	overflow-y:scroll;
	font-family:'Helvetica Neue','Liberation Sans',sans-serif;
}

/* for mobile */
@media only screen and (max-width:640px) { body { font-size:2.6vw; } }

button{
	border-radius:0.3em;
	background:#fafafa;
	border:1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button:hover {background:#eee}

h2,h3,h4{padding:10px 0 10px 0;font-weight:normal;}
h2,h3{border-bottom:1px solid #ccc}

a:hover {color:#000066;text-decoration:underline}
a{color:#3b5998;text-decoration:none;font-weight:normal;}

.inline{display:inline-block;vertical-align:top}

table{
	border-collapse:collapse;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	}
tr{border-left:1px solid #ccc}
tr{border-right:1px solid #ccc}
tr:nth-child(even) {background:#eee}

th{
	background-color:gold;
	font-weight:normal;
}
td,th{
	padding:0.4em;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
td{padding:0.9em 0.4em}
li{padding:0.4em 0;}

/**NAVBAR**/
td.nav a {text-decoration:none}
td.nav{border:1px solid #ccc;border-top:none}
td.nav{cursor:pointer;border-bottom:1px solid #ddd}
@media only screen and (max-width:640px) { 
	td.nav{font-size:12px}
}
td.nav:hover {background-color:#fefefe;border-bottom-color:#395693}

/**POPUPS (com el de posar la llista a jugador.php)**/
div.popup
{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	border:1px solid #ccc;
	background:gold;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	padding:1em;
	border:10px solid rgba(5, 5, 5, .5);
	background-clip: padding-box;
}

div.popup textarea {
	display:block;
	width:300px;
	height:100px;
}

div.popup button {
	padding:1em 2em;
}
